In [1]:
# importing packages
import pandas as pd
import numpy as np

In [2]:
# reading data
data = pd.read_csv('heart.csv')

In [3]:
data.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
# independent var droping output column
X = data.drop('output', axis = 1).values

In [5]:
X

array([[63.,  1.,  3., ...,  0.,  0.,  1.],
       [37.,  1.,  2., ...,  0.,  0.,  2.],
       [41.,  0.,  1., ...,  2.,  0.,  2.],
       ...,
       [68.,  1.,  0., ...,  1.,  2.,  3.],
       [57.,  1.,  0., ...,  1.,  1.,  3.],
       [57.,  0.,  1., ...,  1.,  1.,  2.]])

In [6]:
# dependent var
y = data['output'].values

In [7]:
y

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [8]:
# training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2 , random_state = 50 )

In [9]:
X_train.shape , X_test.shape

((242, 13), (61, 13))

In [10]:
from tensorflow.keras import Sequential

In [11]:
model = Sequential() # model is empty

In [12]:
# input layer

from tensorflow.keras.layers import Dense

In [13]:
model.add(Dense(128, activation = 'relu', input_shape =(X_train.shape[1],)))

In [14]:
# hidden layer
model.add(Dense(500, activation = 'relu'))
model.add(Dense(250, activation = 'relu'))
model.add(Dense(700, activation = 'relu'))
model.add(Dense(630, activation = 'relu'))

In [15]:
# output layer
model.add(Dense(1, activation = 'sigmoid'))

In [16]:
model.compile(optimizer = 'adam',loss = 'binary_crossentropy',metrics =['accuracy'] ) # here class is 2 therefor if 3 class categorical

In [17]:
model.fit(X_train, y_train, epochs = 25, batch_size = 5, verbose = 1)

Epoch 1/25
49/49 [==============================] - 3s 19ms/step - loss: 2.2228 - accuracy: 0.5455
Epoch 2/25
49/49 [==============================] - 1s 19ms/step - loss: 0.6979 - accuracy: 0.6240
Epoch 3/25
49/49 [==============================] - 1s 19ms/step - loss: 0.6871 - accuracy: 0.5785
Epoch 4/25
49/49 [==============================] - 1s 19ms/step - loss: 0.7235 - accuracy: 0.6405
Epoch 5/25
49/49 [==============================] - 1s 23ms/step - loss: 0.7543 - accuracy: 0.6116
Epoch 6/25
49/49 [==============================] - 1s 22ms/step - loss: 0.6690 - accuracy: 0.6198
Epoch 7/25
49/49 [==============================] - 1s 20ms/step - loss: 0.6406 - accuracy: 0.6570
Epoch 8/25
49/49 [==============================] - 1s 21ms/step - loss: 0.6919 - accuracy: 0.5950
Epoch 9/25
49/49 [==============================] - 1s 20ms/step - loss: 0.7191 - accuracy: 0.5744
Epoch 10/25
49/49 [==============================] - 1s 20ms/step - loss: 0.6215 - accuracy: 0.6942
Epoch 11/25
49/49 [==============================] - 1s 22ms/step - loss: 0.6227 - accuracy: 0.6612
Epoch 12/25
49/49 [==============================] - 1s 19ms/step - loss: 0.5871 - accuracy: 0.7025
Epoch 13/25
49/49 [==============================] - 1s 23ms/step - loss: 0.5840 - accuracy: 0.6942
Epoch 14/25
49/49 [==============================] - 1s 21ms/step - loss: 0.6266 - accuracy: 0.6653
Epoch 15/25
49/49 [==============================] - 1s 22ms/step - loss: 0.6012 - accuracy: 0.6777
Epoch 16/25
49/49 [==============================] - 1s 21ms/step - loss: 0.5766 - accuracy: 0.6942
Epoch 17/25
49/49 [==============================] - 1s 26ms/step - loss: 0.6017 - accuracy: 0.6860
Epoch 18/25
49/49 [==============================] - 1s 22ms/step - loss: 0.6141 - accuracy: 0.6736
Epoch 19/25
49/49 [==============================] - 1s 24ms/step - loss: 0.5747 - accuracy: 0.7273
Epoch 20/25
49/49 [==============================] - 1s 20ms/step - loss: 0.5645 - accuracy: 0.7107
Epoch 21/25
49/49 [==============================] - 1s 21ms/step - loss: 0.5742 - accuracy: 0.7190
Epoch 22/25
49/49 [==============================] - 1s 25ms/step - loss: 0.5345 - accuracy: 0.7066
Epoch 23/25
49/49 [==============================] - 1s 20ms/step - loss: 0.6435 - accuracy: 0.7149
Epoch 24/25
49/49 [==============================] - 1s 21ms/step - loss: 0.5269 - accuracy: 0.7355
Epoch 25/25
49/49 [==============================] - 1s 21ms/step - loss: 0.5531 - accuracy: 0.7479